.lastSection{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 190px;

}

h{
    font-size: 30px;
    color: white;
}

.formHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 30%;
    height: 60px;
}

.fill{
    height: 35px;
}

button{
    height: 30px;
    background-color: rgb(187, 4, 4);
    color: white;
    border: none;
}