.image{
    background-image: url(../../images/logo.png);
    height: 50px;
    background-repeat: no-repeat;
    width: 70px;
    border: none;
    background-size: contain;
    margin-top: 10px;
}

body{
    height: 120px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 190px;
    flex-direction: row;
    margin-right: 30%;
}
/* 
.image{
    margin-right: 100px;
    margin-top: 10px;
} */

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-left: 60px;

    a{
        text-decoration: none;
        color: rgb(222, 146, 146);
        font-weight: 600;
    }
}